#container {
  display:flex;
  align-items: center;
  max-width: 100px;
  background-color: red;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

#imagens {
  display: flex;
  align-items: center;
  max-width:max-content;
  max-height: max-content;
}